.imagen1:hover{
    transform: scale(1.2);
}
.imagen2:hover{
    transform: scale(1.2);
}
.imagen3:hover{
    transform: scale(1.2);
}
.imagen4:hover{
    transform: scale(1.2);
}
.imagen5:hover{
    transform: scale(1.2);

}
.imagen6:hover{
    transform: scale(1.2);

}