.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .content {
    position: relative;
    width: 50%;
  }
  .content:hover .image {
    opacity: 0.3;
  }
  
  .content:hover .middle {
    opacity: 1;
  }
