/*Variables*/
$general-color:#ffffff;
$fondo:blanco;

/*Menu*/
.menu{
    background-color: #000033 !important;
}

.navbar-dark .navbar-nav .nav-link{
    color:#66cccc;
}
/*Cuerpo*/
body{
    @if $fondo == azul{
        background-color: #031634;    
    }@else if$fondo == negro{
        background-color: #000000;
    }@else{
        background-color: #fbfbfd;
    }
}
/*Pie de pagina*/
.pieDePagina{
    background-color:#031634;
}
    
/*Titulos*/
.tituloPrincipal{
    color: #171718;
}
.titulos{
    color: $general-color;
}
.titulos_index{
    color: #171718;
}
.contact{
    color: $general-color;
}
/*Parrafos*/
.parrafos{
    color: $general-color;
}
.parrafosIndex{
    color: #171718;
}
/*Tabla*/
.table{
    color: #171718;
}
/*Formulario*/   
form{
    color: $general-color;
}

.btn-primary{
    border: #66cccc;
    background-color: #66cccc;

}