/*Variables*/
$general-font:'Hind Madurai', sans-serif;

/*Menu*/
.menu{
    font-size: 1.2rem;
    font-family: $general-font;
}

/*Titulos*/
.tituloPrincipal{
    font-family: $general-font;
    font-size: 3.5rem;

}
.titulos{
    font-family: $general-font;
    padding-top: 6rem;
    font-weight: bolder;
    font-size: 3rem;
}
.titulos_index{
    font-family: $general-font;
    padding-top: 3rem;
    font-size: 2.3rem;

}

.contact{
    font-family: $general-font;
    font-size: 1.5rem;

}
/*Parrafos*/
.parrafos {
    font-family: $general-font;
    font-size: 1.52rem;
    margin-top: 50px;
}

.parrafosIndex{
    font-family: $general-font;
    font-size: 1.52rem;
    margin-top: 50px;

}

/*Pie de pagina*/
.pieDePagina{
    font-size: 20px;
    font-family: $general-font;
}

/*Tabla*/
#tabla{
    font-family: $general-font;

}
.table{
    font-family: $general-font;
}
.table th{
    font-size: 3rem;
}
/*Formulario*/
form{
    font-family: $general-font;
}
