/*Logo Menu*/
.logo{
    width: 120px;
}
.menu{
    width: 100%;
    position: fixed;
    z-index: 3;
    -webkit-box-shadow: 2px 7px 11px -1px rgba(0,0,0,0.39); 
    box-shadow: 2px 7px 11px -1px rgba(0,0,0,0.39);
    padding-right: 25px;
}
@media (min-width:768px){
    .navbar-collapse{
        justify-content: flex-end;
    }
    .valoraciones{
        padding-left: 100px;
        padding-right: 100px;
    }
}

/*Banner*/
.banner{
    padding-top: 0px;
    background-size: cover;
    position: relative;
    z-index: 2;
    margin-top: 50px;          
}

/*Titulos*/
.tituloPrincipal{
    margin-top: 50px;
}

/*Index*/
.boxWeb{
    margin-top: 50px;
    margin-bottom: 100px;
    .imgWeb {
        width: 100%;
        background-size: cover;
    }
    .imgPos{
        @extend .imgWeb;

    }
    .imgDis{
        @extend .imgWeb
    }
}
.recomenImg{
    width: 30vh;
    padding-right: 20px;
    float: left;
}
@media (max-width:768px){
    .recomenImg{
        float: none;
        padding-bottom: 40px;
    }
}
/*Pie de pagina*/

.pieDePagina{
    width: 100%;
    position: absolute;
    height: auto;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 2px; 
    .red1{
        width: 40px;
        margin-right: 20px;
        margin-bottom: 0px;
        margin-left: 25px;
        }
    .red2{
        width: 40px;
        margin-right: 20px;
        margin-bottom: 0px;
        
        }
    .red3{
        @extend .red2
        }
}

.redes_footer li{
    display: inline;
}

/*Tabla*/
.table{
    margin: auto;
    color: #171718;
    border-radius: 10px;
    background: #f1f3f3;
    box-shadow: -10px -9px 13px -6px rgba(0,0,0,1);
    margin-bottom: 20px;
    min-height: 50vh;
    
}
@media (max-width:768px){
    .table{
        min-height: 40vh;

    }
}
.table th{
    font-size: 1.8rem;
}

/*Portafolios*/

.imagen1{
    width: 100%;
    height: 100%;
    background-size: cover;
   
}
.imagen1:hover{
    transform: scale(1.2)!important;
    
}
.imagen2{
   @extend .imagen1;
  
}
.line2{
    margin-bottom: 40px;
}
.imagen3{
    @extend .imagen1;
    }
.imagen4{
    @extend .imagen1;
  
    }
.imagen5{
    @extend .imagen1;
   
    }
.imagen6{
    @extend .imagen1;
   
    }
.portafolio{
    background-image: url(../images/portafolio2.png);
    background-size: cover;
    padding-bottom: 50px;
    }       

/*Nosotros*/
.imgNosotros1{
    width: 100%;
    margin-bottom: 50px;
    background-size: cover;
    position: relative;
}
.imgNosotros2{
    @extend.imgNosotros1;
}
.nosotros{
    margin-bottom: 100px;
}
.nosotrosBox{
    background-image: url(../images/nosotros.png);
    background-size: cover;
    padding-bottom: 10px;
}

/*Formulario/Contactanos*/
#contactanos{
    background-image: url(../images/contactanos.png);
    background-size: cover;
    padding-bottom: 200px;
   
}

#rowEmail{
    margin-top: 10px;
}

#rowMes{
    margin-top:10px
}

.checkBox{
    margin-left: 20px;
    margin-bottom: 8px;
    margin-top: 20px;
    height: 1.3rem; 
    width: 1.3rem;
}
.newsletter{
    margin-top: 20px;
}


/* Servicios */
.fondoservicios{
    background-image: url(../images/servicios.png);
    background-size: cover;
    padding-bottom: 80px;

}
#servicios{
    padding-top:20px;
}
.serviciosBox{
    padding-top: 50px;
    margin: auto;
}

.portfolioBox{
    margin: auto;
}


.valoraciones{
    font-size: 1.5rem;
}
.valoracionesBox{
    border: solid 4px #031634;
    padding: 50px;
    padding-top: 10vh;
}
.valor{
    margin-bottom: 0;
}
h3{
    padding-bottom: 2vh;
    font-size: 5vh;
}
.logoFooter{
    width: 30vh;
}
.recomenText{
    padding-top: 4vh;
}